/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# TOP SECRET
/src/**/token.txt

### Logs and configs###
*.log
*.properties

### Archives ###
*.zip
*.gz

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/